experiments/awgn195.mat
experiments/awgn275.mat
experiments/awgn314.mat
experiments/awgn386.mat
experiments/awgn591.mat
experiments/awgn703.mat
experiments/awgn831.mat
experiments/awgn1017.mat
experiments/awgn1187.mat
experiments/awgn1208.mat
experiments/awgn1402.mat
experiments/awgn1584.mat
experiments/awgn1907.mat
experiments/awgn2052.mat
experiments/awgn2478.mat
experiments/awgn2564.mat
experiments/awgn2590.mat
experiments/awgn2614.mat
experiments/awgn2759.mat
experiments/awgn2900.mat
experiments/gross22.mat
experiments/gross501.mat
experiments/gross1122.mat
experiments/gross1500.mat
experiments/gross1673.mat
experiments/gross1759.mat
experiments/gross1947.mat
experiments/gross2256.mat
experiments/gross2451.mat
experiments/gross2843.mat
experiments/awgn/awgn19.mat
experiments/awgn/awgn97.mat
experiments/awgn/awgn193.mat
experiments/awgn/awgn210.mat
experiments/awgn/awgn392.mat
experiments/awgn/awgn567.mat
experiments/awgn/awgn578.mat
experiments/awgn/awgn596.mat
experiments/awgn/awgn681.mat
experiments/awgn/awgn812.mat
experiments/awgn/awgn874.mat
experiments/awgn/awgn1157.mat
experiments/awgn/awgn1389.mat
experiments/awgn/awgn1624.mat
experiments/awgn/awgn2150.mat
experiments/awgn/awgn2190.mat
experiments/awgn/awgn2243.mat
experiments/awgn/awgn2264.mat
experiments/awgn/awgn2915.mat
experiments/awgn/awgn2924.mat
experiments/real_experiments/57.mat
experiments/real_experiments/403.mat
experiments/real_experiments/415.mat
experiments/real_experiments/480.mat
experiments/real_experiments/1143.mat
experiments/real_experiments/1257.mat
experiments/real_experiments/1443.mat
experiments/real_experiments/1489.mat
experiments/real_experiments/1878.mat
experiments/real_experiments/2992.mat
experiments/real_experiments/trash.out
notebooks/__pycache__/project_path.cpython-39.pyc
notebooks/real_results/gamma_ind_0_theta_ind_0.png
notebooks/real_results/gamma_ind_0_theta_ind_1.png
notebooks/real_results/gamma_ind_0_theta_ind_2.png
notebooks/real_results/gamma_ind_0_theta_ind_3.png
notebooks/real_results/gamma_ind_0_theta_ind_4.png
notebooks/real_results/gamma_ind_0_theta_ind_5.png
notebooks/real_results/gamma_ind_0_theta_ind_6.png
notebooks/real_results/gamma_ind_1_theta_ind_0.png
notebooks/real_results/gamma_ind_1_theta_ind_1.png
notebooks/real_results/gamma_ind_1_theta_ind_2.png
notebooks/real_results/gamma_ind_1_theta_ind_3.png
notebooks/real_results/gamma_ind_1_theta_ind_4.png
notebooks/real_results/gamma_ind_1_theta_ind_5.png
notebooks/real_results/gamma_ind_1_theta_ind_6.png
notebooks/real_results/gamma_ind_2_theta_ind_0.png
notebooks/real_results/gamma_ind_2_theta_ind_1.png
notebooks/real_results/gamma_ind_2_theta_ind_2.png
notebooks/real_results/gamma_ind_2_theta_ind_3.png
notebooks/real_results/gamma_ind_2_theta_ind_4.png
notebooks/real_results/gamma_ind_2_theta_ind_5.png
notebooks/real_results/gamma_ind_2_theta_ind_6.png
notebooks/real_results/gamma_ind_3_theta_ind_0.png
notebooks/real_results/gamma_ind_3_theta_ind_1.png
notebooks/real_results/gamma_ind_3_theta_ind_2.png
notebooks/real_results/gamma_ind_3_theta_ind_3.png
notebooks/real_results/gamma_ind_3_theta_ind_4.png
notebooks/real_results/gamma_ind_3_theta_ind_5.png
notebooks/real_results/gamma_ind_3_theta_ind_6.png
notebooks/real_results/gamma_ind_4_theta_ind_0.png
notebooks/real_results/gamma_ind_4_theta_ind_1.png
notebooks/real_results/gamma_ind_4_theta_ind_2.png
notebooks/real_results/gamma_ind_4_theta_ind_3.png
notebooks/real_results/gamma_ind_4_theta_ind_4.png
notebooks/real_results/gamma_ind_4_theta_ind_5.png
notebooks/real_results/gamma_ind_4_theta_ind_6.png
notebooks/real_results/gamma_ind_5_theta_ind_0.png
notebooks/real_results/gamma_ind_5_theta_ind_1.png
notebooks/real_results/gamma_ind_5_theta_ind_2.png
notebooks/real_results/gamma_ind_5_theta_ind_3.png
notebooks/real_results/gamma_ind_5_theta_ind_4.png
notebooks/real_results/gamma_ind_5_theta_ind_5.png
notebooks/real_results/gamma_ind_5_theta_ind_6.png
notebooks/real_results/gamma_ind_6_theta_ind_0.png
notebooks/real_results/gamma_ind_6_theta_ind_1.png
notebooks/real_results/gamma_ind_6_theta_ind_2.png
notebooks/real_results/gamma_ind_6_theta_ind_3.png
notebooks/real_results/gamma_ind_6_theta_ind_4.png
notebooks/real_results/gamma_ind_6_theta_ind_5.png
notebooks/real_results/gamma_ind_6_theta_ind_6.png
notebooks/synthetic_results/gamma_ind_0_theta_ind_0.png
notebooks/synthetic_results/gamma_ind_0_theta_ind_1.png
notebooks/synthetic_results/gamma_ind_0_theta_ind_2.png
notebooks/synthetic_results/gamma_ind_0_theta_ind_3.png
notebooks/synthetic_results/gamma_ind_0_theta_ind_4.png
notebooks/synthetic_results/gamma_ind_0_theta_ind_5.png
notebooks/synthetic_results/gamma_ind_0_theta_ind_6.png
notebooks/synthetic_results/gamma_ind_1_theta_ind_0.png
notebooks/synthetic_results/gamma_ind_1_theta_ind_1.png
notebooks/synthetic_results/gamma_ind_1_theta_ind_2.png
notebooks/synthetic_results/gamma_ind_1_theta_ind_3.png
notebooks/synthetic_results/gamma_ind_1_theta_ind_4.png
notebooks/synthetic_results/gamma_ind_1_theta_ind_5.png
notebooks/synthetic_results/gamma_ind_1_theta_ind_6.png
notebooks/synthetic_results/gamma_ind_2_theta_ind_0.png
notebooks/synthetic_results/gamma_ind_2_theta_ind_1.png
notebooks/synthetic_results/gamma_ind_2_theta_ind_2.png
notebooks/synthetic_results/gamma_ind_2_theta_ind_3.png
notebooks/synthetic_results/gamma_ind_2_theta_ind_4.png
notebooks/synthetic_results/gamma_ind_2_theta_ind_5.png
notebooks/synthetic_results/gamma_ind_2_theta_ind_6.png
notebooks/synthetic_results/gamma_ind_3_theta_ind_0.png
notebooks/synthetic_results/gamma_ind_3_theta_ind_1.png
notebooks/synthetic_results/gamma_ind_3_theta_ind_2.png
notebooks/synthetic_results/gamma_ind_3_theta_ind_3.png
sbatch/slurm-44717388.out
sbatch/slurm-44717390.out
sbatch/slurm-44717416.out
sbatch/slurm-44721954.out
sbatch/slurm-44722063.out
sbatch/slurm-44722436.out
sbatch/slurm-44723145.out
sbatch/slurm-44726172.out
sbatch/slurm-44730955.out
sbatch/slurm-44730956.out
sbatch/slurm-44731031.out
sbatch/slurm-44731044.out
sbatch/slurm-44731131.out
sbatch/slurm-44731741.out
sbatch/slurm-44731758.out
util/__pycache__/__init__.cpython-36.pyc
util/__pycache__/__init__.cpython-39.pyc
util/__pycache__/contaminate_data.cpython-39.pyc
util/__pycache__/fn_vals.cpython-39.pyc
util/__pycache__/generate_data.cpython-39.pyc
util/__pycache__/generate_graphs.cpython-36.pyc
util/__pycache__/generate_graphs.cpython-39.pyc
util/__pycache__/geoTL.cpython-39.pyc
util/__pycache__/horpca.cpython-39.pyc
util/__pycache__/hosvd.cpython-39.pyc
util/__pycache__/m2t.cpython-39.pyc
util/__pycache__/measure_error.cpython-39.pyc
util/__pycache__/merge_Tucker.cpython-39.pyc
util/__pycache__/project_path.cpython-36.pyc
util/__pycache__/project_path.cpython-39.pyc
util/__pycache__/soft_hosvd.cpython-39.pyc
util/__pycache__/srpg.cpython-39.pyc
util/__pycache__/t2m.cpython-36.pyc
util/__pycache__/t2m.cpython-39.pyc
util/__pycache__/update_L_nograd.cpython-39.pyc
util/__pycache__/update_Lambda_nograd.cpython-39.pyc
util/__pycache__/update_Sigma.cpython-39.pyc
util/__pycache__/update_X_nograd.cpython-39.pyc
util/__pycache__/visualize.cpython-39.pyc
notebooks/synthetic_results/gamma_ind_3_theta_ind_4.png
notebooks/synthetic_results/gamma_ind_3_theta_ind_5.png
notebooks/synthetic_results/gamma_ind_3_theta_ind_6.png
notebooks/synthetic_results/gamma_ind_4_theta_ind_0.png
notebooks/synthetic_results/gamma_ind_4_theta_ind_1.png
notebooks/synthetic_results/gamma_ind_4_theta_ind_2.png
notebooks/synthetic_results/gamma_ind_4_theta_ind_3.png
notebooks/synthetic_results/gamma_ind_4_theta_ind_4.png
notebooks/synthetic_results/gamma_ind_4_theta_ind_5.png
notebooks/synthetic_results/gamma_ind_4_theta_ind_6.png
notebooks/synthetic_results/gamma_ind_5_theta_ind_0.png
notebooks/synthetic_results/gamma_ind_5_theta_ind_1.png
notebooks/synthetic_results/gamma_ind_5_theta_ind_2.png
notebooks/synthetic_results/gamma_ind_5_theta_ind_3.png
notebooks/synthetic_results/gamma_ind_5_theta_ind_4.png
notebooks/synthetic_results/gamma_ind_5_theta_ind_5.png
notebooks/synthetic_results/gamma_ind_5_theta_ind_6.png
notebooks/synthetic_results/gamma_ind_6_theta_ind_0.png
notebooks/synthetic_results/gamma_ind_6_theta_ind_1.png
notebooks/synthetic_results/gamma_ind_6_theta_ind_2.png
notebooks/synthetic_results/gamma_ind_6_theta_ind_3.png
notebooks/synthetic_results/gamma_ind_6_theta_ind_4.png
notebooks/synthetic_results/gamma_ind_6_theta_ind_5.png
notebooks/synthetic_results/gamma_ind_6_theta_ind_6.png
util/__pycache__/geoTL.cpython-39.pyc
util/__pycache__/horpca.cpython-39.pyc
util/__pycache__/merge_Tucker.cpython-39.pyc
util/__pycache__/update_L_nograd.cpython-39.pyc
util/__pycache__/update_X_nograd.cpython-39.pyc
util/__pycache__/visualize.cpython-39.pyc
experiments/63.mat
experiments/247.mat
experiments/354.mat
experiments/496.mat
experiments/554.mat
experiments/560.mat
experiments/718.mat
experiments/808.mat
experiments/920.mat
experiments/986.mat
experiments/1071.mat
experiments/1412.mat
experiments/1488.mat
experiments/1636.mat
experiments/1657.mat
experiments/1694.mat
experiments/1767.mat
experiments/1777.mat
experiments/1837.mat
experiments/2037.mat
experiments/2097.mat
experiments/2182.mat
experiments/2187.mat
experiments/2225.mat
experiments/2345.mat
experiments/2490.mat
experiments/2507.mat
experiments/2535.mat
experiments/2657.mat
experiments/2691.mat
experiments/2861.mat
experiments/2981.mat
experiments/new_awgn/awgn195.mat
experiments/new_awgn/awgn275.mat
experiments/new_awgn/awgn314.mat
experiments/new_awgn/awgn386.mat
experiments/new_awgn/awgn591.mat
experiments/new_awgn/awgn703.mat
experiments/new_awgn/awgn831.mat
experiments/new_awgn/awgn1017.mat
experiments/new_awgn/awgn1187.mat
experiments/new_awgn/awgn1208.mat
experiments/new_awgn/awgn1402.mat
experiments/new_awgn/awgn1584.mat
experiments/new_awgn/awgn1907.mat
experiments/new_awgn/awgn2052.mat
experiments/new_awgn/awgn2478.mat
experiments/new_awgn/awgn2564.mat
experiments/new_awgn/awgn2590.mat
experiments/new_awgn/awgn2614.mat
experiments/new_awgn/awgn2759.mat
experiments/new_awgn/awgn2900.mat
experiments/old_awgn/65.mat
experiments/old_awgn/168.mat
experiments/old_awgn/199.mat
experiments/old_awgn/266.mat
experiments/old_awgn/320.mat
experiments/old_awgn/859.mat
experiments/old_awgn/893.mat
experiments/old_awgn/960.mat
experiments/old_awgn/1184.mat
experiments/old_awgn/1310.mat
experiments/old_awgn/1547.mat
experiments/old_awgn/1664.mat
experiments/old_awgn/1684.mat
experiments/old_awgn/1743.mat
experiments/old_awgn/1950.mat
experiments/old_awgn/2138.mat
experiments/old_awgn/2196.mat
experiments/old_awgn/2256.mat
experiments/old_awgn/2343.mat
experiments/old_awgn/2568.mat
experiments/old_gross/228.mat
experiments/old_gross/756.mat
experiments/old_gross/1177.mat
experiments/old_gross/1364.mat
experiments/old_gross/1718.mat
experiments/old_gross/1868.mat
experiments/old_gross/1871.mat
experiments/old_gross/2124.mat
experiments/old_gross/2283.mat
experiments/old_gross/2740.mat
experiments/real_awgn/57.mat
experiments/real_awgn/403.mat
experiments/real_awgn/415.mat
experiments/real_awgn/480.mat
experiments/real_awgn/1143.mat
experiments/real_awgn/1257.mat
experiments/real_awgn/1443.mat
experiments/real_awgn/1489.mat
experiments/real_awgn/1878.mat
experiments/real_awgn/2992.mat
util/__pycache__/geoTL.cpython-39.pyc
util/__pycache__/horpca.cpython-39.pyc
util/__pycache__/merge_Tucker.cpython-39.pyc
util/__pycache__/update_L_nograd.cpython-39.pyc
util/__pycache__/update_X_nograd.cpython-39.pyc
experiments/63.mat
experiments/247.mat
experiments/354.mat
experiments/496.mat
experiments/554.mat
experiments/560.mat
experiments/718.mat
experiments/808.mat
experiments/920.mat
experiments/986.mat
experiments/1071.mat
experiments/1412.mat
experiments/1488.mat
experiments/1636.mat
experiments/1657.mat
experiments/1694.mat
experiments/1767.mat
experiments/1777.mat
experiments/1837.mat
experiments/2037.mat
experiments/2097.mat
experiments/2182.mat
experiments/2187.mat
experiments/2225.mat
experiments/2345.mat
experiments/2490.mat
experiments/2507.mat
experiments/2535.mat
experiments/2657.mat
experiments/2691.mat
experiments/2861.mat
experiments/2981.mat
data/coil_small.mat
data/CoilData.mat
data/MNIST.mat
util/__pycache__/update_X_nograd.cpython-39.pyc
util/__pycache__/update_L_nograd.cpython-39.pyc
util/__pycache__/merge_Tucker.cpython-39.pyc
util/__pycache__/horpca.cpython-39.pyc
util/__pycache__/geoTL.cpython-39.pyc
